{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    {% for listing in listings %}    
        {% if listing.active == True %}
            <div class="d-flex justify-content-center flex-wrap">
                <div class="card" style="width: 50%;">
                    <img src="{{ listing.url }}" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'view' listing.id %}">{{ listing.title }}</a>
                        </h5>
                        <p class="card-text">{{ listing.startingbid }}$</p>
                        <p class="card-text">
                            <small class="text-body-secondary">{{ listing.description }}</small>
                        </p>
                    </div>
                </div>  
            </div>  
        {% endif %}
    {% endfor %}
{% endblock %}
